{% extends 'base.html' %}


{% block content %}
<div class="resumify_tm_rightpart_changable_section">
	<div class="rightpart_inner">
		<div class="container">
			<div class="home_hero">
				<div class="home_content">
					<div class="name_holder">
						<h3>
							<span class="animate">
								<span>Hello Everyone!</span>
							</span>
							<span class="animate">
								<span>I'm <span class="name">Abunawas</span></span>
							</span>
						</h3>
					</div>
					<div class="description">
						<p>I’m an independent creative freelancer Videographer and Video Editor.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
{% endblock content %}
	
