{% extends 'base.html' %}

{% block content %}
<div class="resumify_tm_rightpart_changable_section">
	<div class="rightpart_inner">
		<div class="container">
			<div class="resume_wrapper_all">
				<div class="resume_wrap">
					<div class="leftpart">
						<div class="info_box_wrap">
							<div class="title">
								<span class="main">Born</span>
							</div>
							<div class="times_list">
								<ul>
									<li><p><span>1999</span>-Malang Indonesia,</p></li>
									<li><p>Lives and works in Malang</p></li>
								</ul>
							</div>
						</div>
						<div class="info_box_wrap">
							<div class="title">
								<span class="main">Education</span>
								<span class="top">(5 years)</span>
							</div>
							<div class="times_list">
								<ul>
									<li><p><span>2017</span>-Computer Science, UIN Malang</p></li>
									<li><p><span>2018</span>-Basic Motion Graphic, SkillAcademy</p></li>
								</ul>
							</div>
						</div>
						<div class="info_box_wrap">
							<div class="title">
								<span class="main">Work Experience</span>
								<span class="top">(5 years)</span>
							</div>
							<div class="times_list">
								<ul>
									<li><p><span>2018</span>-Videographer - Ro Productions,</p></li>
									<li><p><span>2020</span>-Video Editor - DOT Indonesia,</p></li>
									<li><p><span>2022</span>-Video Editor - Inagata Techno</p></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="rightpart">
						<div class="info_box_wrap">
							<div class="title">
								<span class="main">Awards</span>
								<span class="top">(2)</span>
							</div>
							<div class="times_list">
								<ul>
									<li><p><span>2017</span>-3rd Place, Short Movie FLS2N Kab. Malang,</p></li>
									<li><p><span>2021</span>-Runner Up, Short Movie MPR-RI</p></li>
								</ul>
							</div>
						</div>
						<div class="skills_wrap">
							<div class="title">
								<h3>Software Skills</h3>
							</div>
							<div class="progress_bar_wrap_total">
								<div class="resumify_tm_progress_wrap">
									<div class="resumify_tm_progress" data-value="80" data-color="#fc214e">
										<span><span class="label">Adobe Premiere Pro</span><span class="number">(80%)</span></span>
										<div class="resumify_tm_bar_bg"><div class="resumify_tm_bar_wrap"><div class="resumify_tm_bar"></div></div></div>
									</div>
									<div class="resumify_tm_progress" data-value="60" data-color="#fc214e">
										<span><span class="label">Adobe After Effects</span><span class="number">(60%)</span></span>
										<div class="resumify_tm_bar_bg"><div class="resumify_tm_bar_wrap"><div class="resumify_tm_bar"></div></div></div>
									</div>
									<div class="resumify_tm_progress" data-value="75" data-color="#fc214e">
										<span><span class="label">Adobe Illustrator</span><span class="number">(75%)</span></span>
										<div class="resumify_tm_bar_bg"><div class="resumify_tm_bar_wrap"><div class="resumify_tm_bar"></div></div></div>
									</div>
									<div class="resumify_tm_progress" data-value="75" data-color="#fc214e">
										<span><span class="label">DaVinci Resolve</span><span class="number">(75%)</span></span>
										<div class="resumify_tm_bar_bg"><div class="resumify_tm_bar_wrap"><div class="resumify_tm_bar"></div></div></div>
									</div>
									<div class="resumify_tm_progress" data-value="70" data-color="#fc214e">
										<span><span class="label">Figma</span><span class="number">(70%)</span></span>
										<div class="resumify_tm_bar_bg"><div class="resumify_tm_bar_wrap"><div class="resumify_tm_bar"></div></div></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	

{% endblock content %}
	